.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.start-screen > h2:first-child {
  font-size: 36px;
}

.start-screen > h2:nth-child(2) {
  font-size: 23px;
}

.start-screen > button {
  padding: 15px;
  color: var(--color-light);
  border: none;
  border-radius: 20px;
  font-size: 20px;
  background-color: var(--color-dark);
}

.start-screen > button:hover {
  cursor: pointer;
  filter: contrast(80%);
}

.start-screen > button:active {
  transform: translateY(3px);
}
